[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyscf = "*"
openfermion = "*"
openfermionpyscf = "*"
qulacs = "*"

[dev-packages]

[requires]
python_version = "3.9"
